
.error {
background: rgba(255, 49, 49, 0.6);
}
.success {
background: rgba(90, 255, 49, 0.6);
}

.button { 
	border:none;
	min-height:44px; 
	padding:10px 18px; 
	display:inline-block; 
	color:black; 
	font-size:16px; 
	cursor:pointer; 
	border-radius:4px; }

.button.small { 
	min-height:36px; 
	font-size:14px; 
	padding:6px 10px; }

.error { 
	background: rgba(255, 49, 49, 0.85); }

.success { 
	background: rgba(67, 164, 56, 0.95); }

